@font-face {
    font-family: 'angel';
    src: url('./fonts/ANGEL___.ttf');
}

@font-face {
    font-family: 'ktf-roadbrush';
    src: url('./fonts/KTF-Roadbrush.ttf');
}

@font-face {
    font-family: 'roboto-italic';
    src: url('./fonts/Roboto-Italic.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFF7;
}

main {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
}

.grid-container {
    border: 15px solid;
    background-color: lightgray;
    width: 400px;
    height: 400px;
}

h1 {
    font-size: 5rem;
    font-family: 'angel';
    font-weight: normal;
}

p:last-of-type {
    font-size: 1.6rem;
    font-weight: 700;
    font-family: 'roboto-italic';
}

input {
    accent-color: black;
}

button {
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: 'ktf-roadbrush';
}

button:active {
    color: #FFFFF7;
    background-color: black;
}